.mybossh3 {
  color: violet;
  text-align: center;
  font-size: 500%;
}

.mybossparagraph {
  text-align: right;
  background-color: blue;
  color:yellow;
}

.myprofileparagraph {
  text-align: left;
  color:brown;
}